<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  <h2>Just another shoping cart sample</h2>
  <h4>Please select your shopping card items</h4>
  <form action="/cart" method="POST">
  <select name="name">
    <option value="Apple">Apple</option>
    <option value="Oranges">Oranges</option>
    <option value="Garlic">Garlic</option>
    <option value="Papaya">Papaya</option>
</select>
  <input type="text" placeholder="amount" name="amount">
  <button type="submit">Add to cart</button>
</form>
<form action="/clear" method="POST">
  <button type="submit">Clear cart</button>
</form>
<form action="/checkout" method="POST">
  <button type="submit">Checkout</button>
</form>

<h3 class="total"><span>Total cart:  </span><%= total %><span>  EUR</span></h3>

<table style="width:50%">
  <tr style="text-align: right;">
    <th>Name</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Discount</th>
  </tr>
  <% for(var i=0; i<cart.length; i++) {%>
    <tr class="cart" style="text-align: right;">
      <td><%= cart[i].name %></td>
      <td><%= cart[i].amount %></td>
      <td><%= cart[i].price.total %><span>  EUR</span></td>
      <td><%= cart[i].price.discount %><span>  EUR</span></td>
    </tr>
  <% } %>
</table>

</body>
</html>
